*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Rubik', sans-serif;
    background-color:#20263e;
    color: pink;
  }

  body{
    padding:75px;
  }

  h1{
    font-size: 4rem;
    font-weight: 300;
  }

  h2{
    font-size: 2rem;
    font-weight: 100;
    margin-bottom:50px
  }
  p{
    font-size: 1.5rem;
    font-weight: 100;
    max-width: 800px;
    line-height: 1.75;
  }
  #br{
    display: none;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img{
    height:500px;
    width:auto;
    padding:none;
  
    opacity:.8;
    transition: .3s;
  }
  img:hover{
    opacity:1;
  }
  .nav{
    position: absolute;
    top: 20px;
    right: 40px;
    display:flex;
    justify-content: space-around;
  }
  .nav a{
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: none;
    margin-right: 20px;
    transition: .3s;
  }
  .nav a:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
/*/////////MOBILE/////////////////*/

  @media all and (max-width: 480px) { 

    body{
      padding:0px;
      margin:10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    img{
      position:static;
      max-width: 400px;
      height:auto;
      margin-bottom:100px;
    }
    .nav{
      position:static;
      display:flex;
      flex-direction: column;
      margin-top: 50px;
      margin-bottom:50px;
    }
    .nav a{
      font-size: 1.2rem;
      margin-top: 20px;
    }

    
    #br{
      display:block;
    }
    .container{
      display:flex;
      flex-direction: column;
      align-items: left;

      margin-top:10px;
    }
    
    h1{
      font-size: 3rem;
    }
    h2{
      font-size: 2rem;
      margin-bottom: 10px;
    }
   
    
    p{
     font-size: 1rem;
     line-height: 1.5;
      width: 400px;
      height:auto;
    }
  
  }